In [138]:
import mysql.connector as mysql

connection = mysql.connect(
            host="localhost",
            user="root",
            password="6398577764"
)

In [139]:
cursorobj = connection.cursor(buffered=True)

In [141]:
cursorobj.execute("CREATE DATABASE newdatabase")

In [148]:
cursorobj.execute("SHOW DATABASES")

In [149]:
db = cursorobj.fetchall()
print(db)

[('information_schema',), ('mydatabase',), ('mysql',), ('newdatabase',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [166]:
import mysql.connector as sql
connection = sql.connect(
         host="localhost",
         user="root",
         password="6398577764",
         database="newdatabase"
)

In [167]:
cursor_object = connection.cursor(buffered=True)

In [168]:
cursor_object.execute("CREATE TABLE users (name VARCHAR(255), user_name VARCHAR(255))")

In [170]:
cursor_object.execute("SHOW TABLES")
tables = cursor_object.fetchall()

In [175]:
for table in tables:
    print(table)

('users',)

In [176]:
cursor_object.execute("DROP TABLE users")

In [179]:
cursor_object.execute("CREATE TABLE users(id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),user_name VARCHAR(255))")

In [181]:
##'DESC table_name' is used to get all columns information
cursor_object.execute("DESC users")
print(cursor_object.fetchall())

[('id', b'int', 'NO', 'PRI', None, 'auto_increment'), ('name', b'varchar(255)', 'YES', '', None, ''), ('user_name', b'varchar(255)', 'YES', '', None, '')]

In [193]:
##dropping primary key 
cursor_object.execute("ALTER TABLE users DROP id")

In [208]:
cursor_object.execute("ALTER TABLE users ADD COLUMN id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY FIRST")

In [191]:
##insert data
query = "INSERT INTO users (name,user_name) VALUES (%s,%s)"
value = ("vikrant","kc")
cursor_object.execute(query,value)

In [195]:
##to make final output
connection.commit()

In [196]:
##inserting multiple rows 
query = "INSERT INTO users (name,user_name) VALUES (%s,%s)"
value =[
    ("Peter","mark"),
    ("Amy","neuro"),
    ("Michael","jackson"),
    ("Hennah","peter")
]

In [197]:
cursor_object.executemany(query,value)

In [198]:
connection.commit()

In [199]:
print(cursor_object.rowcount)

4

In [201]:
##select data
##select column_names from table_name
query = "SELECT * FROM users"
cursor_object.execute(query)
record = cursor_object.fetchall()
print(record)

[('vikrant', 'kc'), ('Peter', 'mark'), ('Amy', 'neuro'), ('Michael', 'jackson'), ('Hennah', 'peter')]

In [202]:
for records in record:
    print(records)

('vikrant', 'kc')
('Peter', 'mark')
('Amy', 'neuro')
('Michael', 'jackson')
('Hennah', 'peter')

In [204]:
##getting some columns:
query = "SELECT user_name FROM users"
cursor_object.execute(query)
usernames = cursor_object.fetchall()
for username in usernames:
    print(username)

('kc',)
('mark',)
('neuro',)
('jackson',)
('peter',)

In [205]:
query = "SELECT name,user_name FROM users"
cursor_object.execute(query)

In [206]:
data = cursor_object.fetchall()
for pair in data:
    print(pair)

('vikrant', 'kc')
('Peter', 'mark')
('Amy', 'neuro')
('Michael', 'jackson')
('Hennah', 'peter')

In [209]:
### where 
query = "SELECT * FROM users WHERE id=5"
cursor_object.execute(query)

In [211]:
##fetch all record from cursor_object
records = cursor_object.fetchall()
for record in records:
    print(record)

(5, 'Hennah', 'peter')

In [213]:
## order by ascending
query = "SELECT * FROM users ORDER BY name"
cursor_object.execute(query)

In [215]:
records =  cursor_object.fetchall()
for record in records:
    print(record)

(3, 'Amy', 'neuro')
(5, 'Hennah', 'peter')
(4, 'Michael', 'jackson')
(2, 'Peter', 'mark')
(1, 'vikrant', 'kc')

In [217]:
## descending
query = "SELECT * FROM users ORDER BY name DESC"
cursor_object.execute(query)

In [218]:
records = cursor_object.fetchall()
for record in records:
    print(record)

(1, 'vikrant', 'kc')
(2, 'Peter', 'mark')
(4, 'Michael', 'jackson')
(5, 'Hennah', 'peter')
(3, 'Amy', 'neuro')

In [221]:
## delete 
query = "DELETE FROM users WHERE id = 5"
cursor_object.execute(query)

In [225]:
connection.commit()

In [226]:
query = "SELECT * FROM users"
cursor_object.execute(query)

In [227]:
record = cursor_object.fetchall()
for i in record:
    print(i)

(1, 'vikrant', 'kc')
(2, 'Peter', 'mark')
(3, 'Amy', 'neuro')
(4, 'Michael', 'jackson')

In [230]:
###UPDATE 
query = "UPDATE users SET name = 'vik' WHERE id = 1"
cursor_object.execute(query)

In [231]:
connection.commit()

In [233]:
query = "SELECT * FROM users"
cursor_object.execute(query)

In [234]:
record = cursor_object.fetchall()
for i in record:
    print(i)

(1, 'vik', 'kc')
(2, 'Peter', 'mark')
(3, 'Amy', 'neuro')
(4, 'Michael', 'jackson')