In [110]:
import mysql.connector as sql 

connection = sql.connect(
      host = "localhost",
      user = "root",
      password = "6398577764",
)
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x013313A0>

# making connection and showing database

In [120]:
cursor = connection.cursor(buffered=True)

cursor.execute("CREATE DATABASE student")

In [125]:
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

In [127]:
import mysql.connector as sql

connection = sql.connect(
         host="localhost",
         user="root",
         password="6398577764",
         database="student"
)
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x01331790>

In [128]:
cursor = connection.cursor()

In [152]:
cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [153]:
##insert records in table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s,%s)"
value = ("john","stats")
cursor.execute(query,value)

In [154]:
query =  "INSERT INTO studentinfo (name,subject) VALUES (%s,%s)"
values = [("vanshika", "c"),
         ("vishal", "html"),
         ("shivam", "web"),
         ("meenakshi", "java")]
cursor.executemany(query,values)

In [166]:
cursor = connection.cursor(buffered=True)
cursor.execute("Select * from studentinfo")

In [167]:
cursor.fetchall()

[(1, 'john', 'stats'),
 (2, 'vanshika', 'c'),
 (3, 'vishal', 'html'),
 (4, 'shivam', 'web'),
 (5, 'meenakshi', 'java')]

In [178]:
cursor.execute("Select * from studentinfo where name='shivam'")

In [179]:
cursor.fetchall()

[(4, 'shivam', 'web')]

In [180]:
cursor.execute("Select subject from studentinfo")
cursor.fetchall()

[('stats',), ('c',), ('html',), ('web',), ('java',)]

In [181]:
cursor.execute("Select name,subject from studentinfo WHERE name='shivam' OR subject='html'")
cursor.fetchall()

[('vishal', 'html'), ('shivam', 'web')]

In [182]:
cursor.execute("DROP TABLE studentinfo")

In [183]:
cursor.execute("DROP DATABASE student")

In [186]:
cursor = connection.cursor(buffered=True)
cursor.execute("SHOW DATABASES")
for i in cursor:
    print(i)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)